<section class="instrucciones">
  <div class="wrapper">
    <mat-drawer-container>
      <mat-drawer #drawer mode='over' position="start">
        <app-left-sidebar (cerrar)="drawer.toggle()"></app-left-sidebar>
      </mat-drawer>
      <app-header-app (drawer)="drawer.toggle()"></app-header-app>

      <!-- Sección del body donde se muestra todo el contenido -->
      <div class="body-home">

        <!-- Sección del eslogan y contenido -->
        <div class="section-eslogan">
          <div class="eslogan {{isMobile()}}">
              <div class="line-color">
                  <div class="vertical-line" style="height: 111px;"></div>
              </div>
              <div class="title-link">
                  <span>¡Hora de correr!</span>
              </div>
          </div>

          <div class="sect-lorem">
            <span class="subtitle">Objetivo</span>
          </div>
          <div class="sect-lorem">
            <span class="text-lorem">Estás a punto de jugar Moto Rider, el juego consiste en conducir una motocicleta a través de un camino con autos, tu misión es esquivarlos durante 120 segundos mientras la velocidad va aumentando.</span>
          </div>
        </div>

        <div class="sect-lorem">
          <span class="subtitle">Puntuacion</span>
        </div>

        <!-- 5. Sección de códigos registrados -->
        <div class="codigos-registrados">
          <div>
              <table class="table table-responsive">
                  <thead class="head-table">
                    <tr>
                      <th scope="col" class="text-lorem text-align: left;">Accion</th>
                      <th scope="col" class="text-lorem text-align: right">Puntos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="tr-table">
                      <td style="min-width: 100px; text-align: left;">Código redimido</td>
                      <td style="text-align: center;">1000</td>
                    </tr>
                    <tr class="tr-table">
                      <td style="min-width: 100px; text-align: left;">Jugar sin chocar de 0 a 30 segundos</td>
                      <td style="text-align: center;">100</td>
                    </tr>
                    <tr class="tr-table">
                      <td style="min-width: 100px; text-align: left;">Jugar sin chocar de 31 a 60 segundos</td>
                      <td style="text-align: center;">200</td>
                    </tr>
                    <tr class="tr-table">
                      <td style="min-width: 100px; text-align: left;">Jugar sin chocar de 61 a 90 segundos</td>
                      <td style="text-align: center;">300</td>
                    </tr>
                    <tr class="tr-table">
                      <td style="min-width: 100px; text-align: left;">Jugar sin chocar de 91 a 120 segundos</td>
                      <td style="text-align: center;">400</td>
                    </tr>
                  </tbody>
              </table>
          </div>
        </div>

        <div class="sect-lorem">
          <span class="subtitle">Informacion adicional</span>
        </div>
        <div class="txt-links">
          <span class="text-lorem">Tienes dos oportunidades por cada código que redimimas.</span>
          <span class="text-lorem">La 1ra oportunidad es entrenamiento y no genera puntos.</span>
          <span class="text-lorem">La 2da oportunidad genera puntos, el juego termina si chocas o se termina el tiempo.</span>
          <span class="text-lorem">Verifica que tu conexión a Internet sea estable al momento de jugar.</span>
        </div>

        <div class="section-codigo">
          <div class="{{isMobile()}}">
            <div class="registra-codigo">

              <!-- Botón para registrar código -->
              <div class="d-flex flex-direction-row justify-content-center w-100 mt-3 mb-3">
                <button mat-flat-button color="warn" class="btn-login" (click)="jugarAhora()">
                    <span class="text-btn">Jugar ahora</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
          <app-footer-app></app-footer-app>
        </div>
      </div>
    </mat-drawer-container>
  </div>
</section>
